@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/about.css");
@import url("sections/architecture.css");
@import url("sections/solution.css");
@import url("sections/verification.css");
@import url("sections/private-markets.css");
@import url("sections/team.css");
@import url("sections/cta.css");
@import url("sections/footer.css");
@import url("sections/roadmap-hero.css");
@import url("sections/subscribe.css");






@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {

    .team {
        padding: 0 24px 100px;
    }

    .team__projects {
        flex-direction: column;

        gap: 80px;

        max-width: 100%;
    }

    .team__projects-inveniam,
    .team__projects-mantra {
        width: 100%;
    }

    .team__projects-inveniam p,
    .team__projects-mantra p {
        max-width: 100%;
    }

}