@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/about.css");
@import url("sections/architecture.css");
@import url("sections/solution.css");
@import url("sections/verification.css");
@import url("sections/private-markets.css");
@import url("sections/team.css");
@import url("sections/cta.css");
@import url("sections/footer.css");
@import url("sections/roadmap-hero.css");
@import url("sections/subscribe.css");






@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
    overscroll-behavior: none;
}

@media (max-width: 768px) {

    .team {
        padding: 0 24px 100px;
    }

    .team__projects {
        flex-direction: column;

        gap: 80px;

        max-width: 100%;
    }

    .team__projects-inveniam,
    .team__projects-mantra {
        width: 100%;
    }

    .team__projects-inveniam p,
    .team__projects-mantra p {
        max-width: 100%;
    }

}

@media (max-width: 1400px) {
    .about__shape {
        margin: 0;
    }
}

@media (max-width: 1200px) {
    .about {
        padding: 120px 50px 120px;
    }

    .about__shape-left {
        left: -280px;
    }

    .about__shape-right {
        right: -280px;
    }

    .header__nav {
        padding: 20px 50px;

        display: flex;
        justify-content: space-between;
    }

    .mobile-menu {
        display: block;
    }

    .header__menu {
        display: none;
    }

    .header__cta-button {
        display: none;
    }

    header {
        position: fixed;
        top: 1px;
        left: 0;
        right: 0;
        z-index: 100;
    }

    .about__catalogue {
        flex-wrap: wrap;
    }

    .about__card {
        width: 45%;
    }

    .image-wrapper {
        width: 100%;
    }

    .about__card-divider {
        width: 60%;
        height: 1px;
    }

    .architecture__container {
        flex-direction: column;
        display: flex;
        align-items: flex-start;
    }

    .architecture__image-container {
        width: 100%;
    }

    .architecture__image {
        width: 100%;
    }

    .architecture__image-wrapper {
        width: 100%;
    }

    .architecture__content {
        order: 1;
    }

    .architecture__image {
        order: 2;
    }

    .nova__subtitle {
        font-size: 52px;
        letter-spacing: 1.9px;
        line-height: 52px;
    } 

    .solution__catalogue2 {
        flex-wrap: wrap;
    }

    .solution__catalogue {
        margin-left: 40px;
        margin-right: 40px;
    }

    .solution__card2 {
        width: 45%;
    }

    .solution {
        padding: 0 10px 120px;
    }

    .solution__card2 .solution__card-divider {
        width: 60%;
    }

    .verification__container {
        flex-direction: column;
        display: flex;
        align-items: flex-start;
    }

    .verification__image-container {
        width: 100%;
    }

    .verification__image {
        width: 100%;
    }

    .verification__image-wrapper {
        width: 100%;
    }

    .markets__container {
        flex-direction: column;
        display: flex;
        align-items: flex-start;
    }

    .markets__image-container {
        width: 100%;
    }

    .markets__image {
        width: 100%;
    }

    .markets__image-wrapper {
        width: 100%;
    }

    .markets__content {
        order: 1;
    }

    .markets__image {
        order: 2;
    }

    .footer {
        padding: 90px 30px 30px;
    }

    .cta {
        padding: 0 50px 120px;
    }
}



@media (max-width: 800px) {
    .header__nav {
        padding: 20px 50px;

        display: flex;
        justify-content: space-between;
    }

    .mobile-menu {
        display: block;
    }

    .header__menu {
        display: none;
    }

    .header__cta-button {
        display: none;
    }

    header {
        position: fixed;
        top: 1px;
        left: 0;
        right: 0;
        z-index: 100;
    }

    .hero__content h3 {
        font-size: 56px;
        line-height: 55px;
    }

    .about h5 {
        font-size: 35px;
    
        line-height: 38px;
    }

    .about__contents .nova__subtitle {
        font-size: 35px;
        line-height: 32px;
        letter-spacing: -2px;
    }

    .about__contents .nova__texts {
        max-width: 430px;
    }

    .about__shape {
        position: absolute;
        top: 210px;
        width: 250px;
        height: 90px;
    }

    .about__shape-left {
        left: -280px;
    }

    .about__shape-right {
        right: -280px;
    }

    .about {
        padding: 60px 30px;
    }

    .about__catalogue {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .about__card {
        width: 100%;
        padding: 30px;
    }

    .image-wrapper {
        width: 100%;
        height: 109px;
    }
    
    .about__card-divider {
        width: 60%;
    }

    .page-divider {
        margin-bottom: 30px;
    }

    .architecture__container {
        flex-direction: column;
    }

    .architecture__content {
        order: 1;
    }

    .architecture__image {
        order: 2;
    }

    .architecture__content .nova__subtitle {
        font-size: 35px;
        letter-spacing: -2px;
        line-height: 35px;
    }

    .verification__container {
        flex-direction: column;
    }

    .verification__content .nova__subtitle {
        font-size: 35px;
        letter-spacing: -2px;
        line-height: 35px;
    }


    .markets__container {
        flex-direction: column;
    }

    .markets__content {
        order: 1;
    }

    .markets__image {
        order: 2;
    }

    .markets__content .nova__subtitle {
        font-size: 35px;
        letter-spacing: -2px;
        line-height: 35px;
    }

    .team {
        padding: 0 40px 0;
    }

    .team__projects-mantra {
        order: 1;
    }

    .team__projects-inveniam {
        order: 2;
    }

    .team .nova__subtitle {
        font-size: 35px;
        line-height: 35px;
        letter-spacing: -2px;
    }

    .solution .nova__subtitle {
        font-size: 35px;
        line-height: 35px;
        letter-spacing: -2px;
    }

    .solution {
        padding: 60px 30px;
    }

    .solution__catalogue {
        flex-direction: column;
    }

    .solution__catalogue {
        margin-left: 0;
        margin-right: 0;
    }
    
    .solution__card {
        width: 100%;
    }

    .solution__card-divider {
        width: 60%;
    }
    
    .solution__catalogue2 {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .solution__card2 {
        width: 100%;
    }

    .solution__card2 .solution__card-divider {
        width: 60%;
    }

    .cta {
        padding: 0 30px 120px;
    }

    .cta .nova__subtitle {
        font-size: 35px;
        line-height: 35px;
        letter-spacing: -2px;
    }

    .cta__container {
        padding: 60px;
    }

    .footer {
        padding: 90px 0 30px;
    }

    .footer-top__right {
        flex-direction: column;
        display: flex;
        gap: 80px;

        margin-top: 50px;
    }

    .footer-top {
        flex-direction: column;
        margin: 0 40px 60px;
    }

    .footer__page-divider {
        height: 1px;
    }
    
}


@media (max-width: 800px)  {
    .roadmap__hero {
        padding: 74px 30px;

        padding-bottom: 280px;
    }

    .roadmap__hero .hero__content {
       padding-top: 100px; 
       display: flex;
       align-items: flex-start;
       
    }

    .roadmap__hero .architecture__badge {
        margin: 0;
    }

    .roadmap__hero .hero__content h3 {
        text-align: left;
        margin: 40px 0 0;

        max-width: 400px;
    }

    .roadmap__hero .nova__texts {
        text-align: left;
        margin-left: 0;
        margin-right: 0;
    }

    .roadmap__card-section {
        padding: 30px;
    }

    .roadmap-card {
        flex-direction: column;
    }
    
    .card-content__right {
        margin-top: 30px;
    }

    .roadmap-card2 {
        flex-direction: column;
    }

    .roadmap__subscribe {
        padding: 30px 30px 80px;
    }
 
    .subscribe__container {
        flex-direction: column;
    }

    .subscribe__content-left h5 {
        line-height: 36px;
    }

    .subscribe__content-right {
        margin-top: 20px;
    }

    .body-text {
        margin-bottom: 50px;
    }

    .roadmap__team-note .nova__subtitle {
        font-size: 35px;
        line-height: 32px;
        letter-spacing: -2px;

        max-width: 400px;
    }

    .roadmap__team-note .nova__subtitle span {
        line-height: 32px;
    }

    .roadmap-page__divider {
        margin: 30px 0 80px;
    }
}

@media (max-width: 1400px)  {
    .roadmap__subscribe {
        padding: 0 30px 80px;
    }

    .roadmap__card-section {
        padding: 30px;
    }
}