@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/about.css");
@import url("sections/architecture");
@import url("sections/solution.css");
@import url("sections/verification.css");
@import url("sections/private-markets.css");
@import url("sections/team.css");






@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}