.header {
    position: relative;

    position: fixed;
    top: 1px;
    left: 0;
    right: 0;
    z-index: 100;
}

.header::before {
    position: absolute;
    z-index: 1;

    content: "";
    position: absolute;

    width: 300px;
    height: 50px;

    top: 55px;
    left: 150px;
    background: #1ea4ed;

    filter: blur(109px);

    z-index: -1;
    pointer-events: none;
}

.header__nav {
    padding: 15px 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid rgba(54, 225, 241, 0.2);
    border-radius: 15px;

    margin: 30px 90px 0;

    background: rgba(1, 4, 20, 0.601);
    backdrop-filter: blur(20px);
    isolation: isolate;
    
    z-index: 1;
}


.header-content__left {
    display: flex;
    align-items: center;
    gap: 13px;
}

.header-content__left img {
    width: 65px;
    height: auto;
}

.header-content__left p {
    color: #9CB4C0;

    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2.88px;
}

.header-content__center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.center__contents {
    display: flex;
    gap: 20px;
    list-style: none;
}

.center__contents a {
    text-decoration: none;
    color: aliceblue;

    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.center__contents a:hover {
    color: cyan;
}

.cta-button {
    padding: 12px 16px;

    border-radius: 20px;
    border: none;
    outline: none;

    color: black;
    font-size: 14.5px;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    font-weight: bolder;

    background: rgb(54, 225, 241);

    cursor: pointer;
    transition: 0.2s;
}

.cta-button:hover {
    background: rgb(134, 234, 244)
}

.mobile-menu {
    display: none;

    cursor: pointer;
}

.mobile-menu svg {
    color: #fff;
    width: 20px;
    height: auto;

    object-fit: contain;
}

.header-content__center,
.header__cta-button {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 64px;
}


