.markets {
    background: black;
    overflow: hidden;
    padding: 0 40px 120px;
}

.markets__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 55px;

    margin: 0 auto;
    max-width: 1200px;
}

.page-divider {
    width: 60%;
    height: 0.7px;

    background: linear-gradient(
        90deg,
        rgba(255,255,255,0) 0%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255,255,255,0) 100%,
        transparent 100%
    );

    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

/*IMAGE*/


.markets__image {
    flex: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    align-items: center;
}

.markets__glow {
    position: absolute;

    width: 220px;
    height: 70px;

    bottom: -7px;
    left: 50%;

    transform: translateX(-50%);

    background: rgba(30, 79, 255, 0.815);

    filter: blur(35px);

    opacity: .70;

    z-index: 0;
}

.markets__image-container {
    position: relative;
    overflow: visible;

    width: 510px;
    height: 510px;
    padding: 9px;

    border: 1.5px solid rgba(27, 26, 26, 0.973);

    display: flex;
    justify-content: center;

    border-radius: 28px;

    background: rgba(14, 14, 15, 0.705);

    z-index: 2;
}

.markets__image-container::before {
    content: "";

    width: 45%;
    height: 1px;

    transform: translateX(-53%);

    background: linear-gradient(
        to right,
        transparent 0%,
        rgba(30, 79, 255, 0.2) 15%,
        rgba(30, 79, 255, 0.95) 50%,
        rgba(30, 79, 255, 0.2) 85%,
        transparent 100%
    );

    position: absolute;
    bottom: -0.1%;
    left: 50%;
}

.markets__image-wrapper {
    position: relative;
    overflow: hidden;

    width: 490px;
    height: 490px;

    display: flex;
    align-self: center;

    border-radius: 19px;
    overflow: hidden;

    border: 1px solid rgba(255, 255, 255, 0.089);
}


.markets__image-wrapper img {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;
}

/*CONTENT*/

.markets__content {
    flex: 1px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.markets__content .nova__subtitle,
.markets__content .nova__texts {
    text-align: start;
}

.markets__content .nova__subtitle {
    margin-top: 25px;
}

.markets__content .nova__texts {
    margin-bottom: 30px;
    max-width: 515px;
    margin-top: 20px;
}

.markets__bullets {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    list-style: none;
    max-width: 500px;
}

.markets ul {
    display: flex;
    gap: 25px;
    align-items: flex-start;
}

.markets__bullets li {
    display: flex;
    gap: 10px;

}

.markets__bullets p {
    color: rgb(255, 255, 255, 0.6);
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 450;
}

.check-icon {
    background-color: blue;
    height: 18px;
    width: 18px;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
}

.check-icon img {
    object-fit: contain;
    width: 60%;
    height: 60%;
}

.markets__badge {
    font-family: "DM sans", sans-serif;
    color: #fff;
    outline: none;
    border: none;

    box-shadow: inset 0 0 0 0.6px rgba(255,255,255,0.08);

    padding: 10px 12px 10px 12px;

    border-radius: 10px;

    background: linear-gradient( 
        to bottom,
        #24242764 0%,
        #041f456a 55%, 
        #0521638d 100% 
        );

    letter-spacing: 0.4px; 
}

.gradient-text {
    font-size: 16px;
    background: linear-gradient(
        to right,
        #ffffff,
        #ffffffb4
    );

    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;
}

.content-divider {
    width: 40%;
    height: 1px;

    background: linear-gradient(
        90deg,
        rgba(255,255,255,0) 0%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255,255,255,0) 100%,
        transparent 100%
    );

    margin-bottom: 35px;
}
