.roadmap__subscribe {
    padding: 0 5px 80px;
    display: flex;
    flex-direction: column;

    background:black;
    overflow: hidden;
}

.roadmap-page__divider {
    width: 100%;
    height: 1px;

    background: rgba(255, 255, 255, 0.078);

    margin: 100px 0 80px;
}

.subscribe__container {
    display: flex;
    gap: 20px;
    margin: 0 auto;

    padding: 50px 50px;

    border: 1px solid rgba(255, 255, 255, 0.089);

    width: 1200px;

    background:
        radial-gradient(
            ellipse at -10% 110%,      
            rgba(22, 88, 255, 0.45) 0%,
            rgba(10, 30, 100, 0.2) 40%,
            transparent 65%
        ),
        radial-gradient(
            ellipse at 25% 55%,        
            #0d2151 0%,
            #080f1e 55%,
            #050810 100%
        );
    border: 1px solid rgba(255, 255, 255, 0.08);

    border-radius: 30px;

    position: relative;
    overflow: hidden;

    z-index: 0;
}

.subscribe__content-left {
    flex: 1;
}

.subscribe__content-right {
    flex: 1;
    max-width: 480px;

    margin-top: 40px;
}

.subscribe__content-left h5 {
    color: #fff;
    font-size: 34px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}

.email-input p {
    color: #fff;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;

    margin-bottom: 10px;
}

.email-input input {
    padding: 10px;

    width: 100%;
    border-radius: 5px;

    margin-bottom: 30px;

    font-size: 16px;
    font-weight: -100;
    font-family: helvetica;
    letter-spacing: 0.2px;
}

.email-input input::placeholder {
    color: rgb(161, 174, 181);
}

.body-text {
    color: rgb(136, 136, 136);

    margin-bottom: 100px;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
}

.body-text a {
    color: #fff;
    font-weight: 500;
}

.subscribe__button {
    border: 1px solid rgba(255,255,255,0.08);

    padding: 11px 20px;
    background: #2563ff;
    
    font-size: 16px;
    font-family: Helvetica;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
   
    display: block;
    margin-left: auto;
}