.team {
    background: black;
    padding: 0 120px 120px 120px;
    overflow: hidden;
}

.team__sub-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team .nova__subtitle {
    margin-top: 25px;
    margin-bottom: 100px;
}

